    /* css reset(default comes bybody)*/
    body{
        font-family: 'Bakbak One', cursive;
       color: white; 
        margin:0px;
        padding: 0px;
        background: url('../images/baground.jpg');
    }
    .left
    {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 27px;
            
        
    }
    .left img
    {
        width: 136px;
    }
    .left div
    {
        text-align: center;
        line-height: 12px;
       
    }
    .mid
    {
      display: block;
      width: 51%;
      margin: 20px auto;
      
    }

    
    .right
    {
        position: absolute;
        top: 20px;
        right: 27px;
        display: inline-block;        
             


    }
    
    .navbar
    {
       display: inline-block;
    }

    .navbar li
    {
        display: inline-block;
        font-size: 25px;
      
    }

    .navbar li a 
    {
        color: white;
        text-decoration: none;
        padding: 34px 23px;     
        
    }
    .navbar li a:hover,.navbar li a.active
    {
        text-decoration: underline;
        color: gray;
    }
    .btn:hover
    {
        background-color: gray;
    }
   .btn
   {
       font-family: 'Bakbak One', cursive;
       margin:0px 9px;
      background-color: black;
      color: white;
      padding: 4px 14px;
      border: 2px solid gray;
      border-radius: 10px;
      font-size: 20px;
      cursor: pointer;
   }
   .container
   {
       
       margin: 250px 80px;
       padding: 75px;
       border-radius: 28px;
       width: 33%;
   }
   .form-group input
   {
    text-align: center;
    display: block;
    width: 350px;
   
    border-radius: 10px;
    font-size: 25px;
    margin: 11px auto;
    padding: 1px;
    font-family: 'Bakbak One', cursive;
   }
   .container h1
   {
    text-align: center;
   }
   .container button{
       display: block;
       width: 23%;
       margin: auto;
   }